<!DOCTYPE html>

<html lang="en-US" ng-app="app">
<head>
<meta charset="utf-8">
<title>MD Professional Organizer</title>
<meta name="keywords" content="organizer, metodo organizer, md professional, md, md professional service" />
<meta name="description" content="md professional services -organizacion de espacios, con nuestro metodo organizer ">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Angular Js  -->
<script src="angular/angular.min.js"></script>
<script type="text/javascript"  src="controllers/main.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Montserrat:300,400,500,600,700,800,900|Open+Sans:300,400,400i,600,600i,700,800|Raleway:300,400,400i,500,600,700|Roboto:300,400,400i,500,700,900" rel="stylesheet">

<!-- Libs CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet" />
<link href="css/streamline-icon.css" rel="stylesheet" />
<link href="css/v-nav-menu.css" rel="stylesheet" />
<link href="css/v-portfolio.css" rel="stylesheet" />
<link href="css/v-blog.css" rel="stylesheet" />
<link href="css/v-bg-stylish.css" rel="stylesheet" />
<link href="css/v-shortcodes.css" rel="stylesheet" />
<link href="css/theme-responsive.css" rel="stylesheet" />
<link href="plugins/owl-carousel/owl.theme.css" rel="stylesheet" />
<link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
<link rel="stylesheet" href="css/lightbox.min.css">

<!-- Current Page CSS -->
<link href="plugins/rs-plugin/css/settings.css" rel="stylesheet" />
<link href="plugins/rs-plugin/css/custom-captions.css" rel="stylesheet" />

<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">
</head>

<body class="home" ng-controller="mainController">

  <!-- Loading HTML -->
<div class="loading show">
  <div class="spin"></div>
</div>

<!--Header-->

<header class="header-container">
  <div class="top_line">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 pull-left general-font-area">
          <ul class="contact-top">
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> Miami, Fl</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i> (+1) 786-208-8322</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i> mdprofessionalorganizer@gmail.com</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-5 pull-right hidden-phone">
          <ul class="social-links">
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          
  
          </ul>
        </div>
      </div>
    </div>
  </div>
</header >
<!--End Header-->

<div id="container" class="bg-construccion"> 
  
  <!--Set your own slider options. Look at the v_RevolutionSlider() function in 'theme-core.js' file to see options-->
  <div class="row">
   <div class="col-sm-8">
  <div class="home-slider-wrap fullwidthbanner-container">
    <div class="v-rev-slider" data-slider-options='{ "startheight":750 }'>
      <ul>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1000"> 
        <div class="tp-caption light_heavy_70_shadowed lfb ltt tp-resizeme main-home"
                             data-x="center" data-hoffset="0"
                             data-y="200" data-voffset="0"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="Power4.easeOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                             <img src="img/slider/logotipo1.png" alt="fullslide6" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                            </div>
          
          <!-- LAYER NR. 2 -->
          <div class="tp-caption light_medium_30 lfb ltt tp-resizeme"
                            data-x="center" data-hoffset="0"
                             data-y="300" data-voffset="0"
                             data-speed="1000"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                             <img src="img/slider/logotipo2.png" alt="fullslide6" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                             
                            </div>
          <div class="tp-caption lfb ltt stb"
                           data-x="center" data-hoffset="0"
                             data-y="490" data-voffset="0"
                             data-speed="2000"
                             data-start="2000"
                             data-easing="Circ.easeInOut"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0"
                             data-endelementdelay="0"
                             data-endspeed="500"> 
                             <img src="img/slider/logotipo3.png" alt="fullslide6" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            </div>

          <div class="tp-caption lfb ltt stb"
                            data-x="230" data-hoffset="0"
                              data-y="540" data-voffset="0"
                              data-speed="2000"
                              data-start="2100"
                              data-easing="Circ.easeInOut"
                              data-splitin="none"
                              data-splitout="none"
                              data-elementdelay="0"
                              data-endelementdelay="0"
                              data-endspeed="500">
                              <h2><strong>¡Esta página está en Construcción</strong>, pronto será habilitada!</h2>
                              <h3>Puedes llenar el formulario y te contactaremos</h3>
                             </div>

 
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="contact-form">
      <div class="form-group">
        <label>Nombre </label>
        <input type="text" ng-model="name" placeholder="Nombre Completo">
      </div>
      
      <div class="form-group">
        <label>Email</label>
        <input type="text" ng-model="email" placeholder="ej: john@email.com">
      </div>
      
      <div class="form-group">
        <label>Telefono</label>
        <input type="text" ng-model="phone" placeholder="ej:+01-382437">
      </div>
      <div class="form-group">
       <input name="Enviar" type="button" value="Enviar" class="get-started-btn" ng-click="sendmail()">
      </div>

    </div>
     
  </div>
</div>
</div>

<article class="notice">
  <div class="container"> <span>También Puedes escribirnos directamente a nuestro whatsapp y te atenderemos rápidamente</span> <a href="https://api.whatsapp.com/send?phone=017862088322text=hola, estoy interesado en su metodo organizer" target="_blank">whatsapp</a> </div>
</article>

<!-- Libs --> 
<script src="js/preloading.js"></script> 
<script src="js/jquery-3.1.1.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/jquery.easing.js"></script> 
<script src="js/jquery.fitvids.js"></script> 
<script src="js/jquery.carouFredSel.min.js"></script> 
<script src="js/jquery.validate.js"></script> 
<script src="js/theme-plugins.js"></script> 
<script src="js/jquery.isotope.min.js"></script> 
<script src="js/imagesloaded.js"></script> 
<script src="js/view.min.js?auto"></script> 
<script src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script> 
<script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script src="js/theme-core.js"></script>
</body>
</html>
